.header {
    background-color: #e26f6f;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
  }
  
  .navbar ul {
    display: flex;
    gap: 50px;
    margin-left: -110px; /* Sol kenardan boşluk bırakmamak için */
    padding-left: 0; /* Sol kenardan boşluk bırakmamak için */
  }
  .logo {
    font-size: 25px; 
  }
  
  .header nav ul {
    list-style: none;
    display: flex; 
    gap: 10px;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px; 

  }
 
  .react-toggle-track {
    background-color: #333;
  }
  
  .react-toggle-thumb {
    background-color: #fff;
  }
  