.header {
    background-color: #333;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center; /* Navbar'ı dikeyde ortalamak için */
    padding: 20px;
  }
  
  .navbar ul {
    display: flex;
    gap: 10px;
  }
  
  .header nav ul {
    list-style: none;
    display: flex; /* Navbar'ı yatayda hizalamak için */
    gap: 10px;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* DarkModeSwitch bileşeninin stilini düzenlemek için */
  .react-toggle-track {
    background-color: #333;
  }
  
  .react-toggle-thumb {
    background-color: #fff;
  }
  