*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .dark-mode .header {
    background-color: #1a1a1a;
  }
  
  .dark-mode .home {
    background-color: #1a1a1a;
  }
  
  .dark-mode .recipe-list {
    background-color: #1a1a1a;
  }
  
  .dark-mode .new-recipe-form {
    background-color: #424242;
  }
  
  .light-mode {
    background-color: #fff;
    color: #333;
  }
  
  /* .light-mode .header {
    background-color: #f5f5f5;
  }
   */
  .light-mode .home {
    background-color: #fff;
  }
  
  .light-mode .recipe-list {
    background-color: #fff;
  }
  
  .light-mode .new-recipe-form {
    background-color: #fff;
  }